@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-cover {
    width: 100%;
    height: 735px;
    background-size: cover;
    background-image: url(./assets/landing.svg);
}

.button1 {
    border-radius: 25.344px 0px 0px 25.344px;
    background: #F5821F;
}

.avaldus {
    width: 100%;
    height: 679px;
    background-image: url(./assets/avaldus.jpg);
}


.quotemarks {
    width: 100%;
    height: 100%;
    background-image: url(./assets/“.png);
}


